<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.runningexamples.fiscalcode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/application_icon"
        android:label="Calcolo Codice Fiscale"
        android:roundIcon="@mipmap/application_icon_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".ui.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="Il tuo Profilo" />
        <activity
            android:name=".ui.ProfileSettingsActivity"
            android:label="Modifica Profilo" />
        <activity
            android:name=".ui.MainActivity"
            android:label="Calcolo Codice" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="Impostazioni" />
        <activity
            android:name=".ui.SavedActivity"
            android:label="Lista Codici Salvati" />
        <activity
            android:name=".ui.CFDetail"
            android:label="Barcode" />
        <activity android:name=".ui.WelcomeActivity">
        </activity>
    </application>

</manifest>